body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
} 

.wrapper {
    width: 100%;
    display:grid;
    grid-template-rows: 500px, 500px;
    
} 
h1 {
    float:left;
    font-weight: 600;
    font-size: 50px;
    margin-right: auto;

}
.title {
    font-weight: 600;
    font-size: 80px;
    overflow-wrap: break-word;
}
header {
    display: flex;
    background-color: rgb(15, 9, 20);
    padding-left: 50px ;
    font-weight: 400;
    font-size: 30px;
    color: white;
  
}

.nav > ul {
    list-style-type: none;
    display: inline-flex ;
    justify-content: space-between;
    font-weight: 200;
}

.nav-link {
    text-decoration: none ;
    display: flex ;
    margin: 10px;
    color:rgb(245, 240, 240);
}
.img-card {

    grid-column-start: 2;
    grid-column-end: 12;
    margin-left: 200px;
    padding-top: 50px;
    border-radius: 50%;
  
}

#intro {
    display: flex;;
    margin-top: 3px;
    width: 100%;
    background-color: rgb(241, 255, 232);
}
.part1 {
	display: grid;
    grid-template-columns: 1;
    grid-column-end: 2;
    padding: 5px;
    padding-left: 200px;
}
.part1 > p {
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
}

.headerBtn {
    margin-top: 30px;
    margin-left: 50px;
}

.btn-how {
    text-align: center;
    font-weight: 200;
    font-size:40px;
    padding: 20px ;
    margin-left: 20px;
    border: 10px, solid, black;
    background-color:rgb(250, 245, 245);
    border-radius: 5px;
}
.btn-sign {
    text-align: center;
    margin-right: 50px;
    float: right;
    font-weight: 200;
    font-size:20px;
    padding: 20px ;
    margin-left: 20px;
    border: 10px, solid, black;
    background-color:rgb(245, 240, 240);
    border-radius: 5px;
}
.btn-start {
    text-align: center;
    font-weight: 200;
    font-size:40px;
    padding: 20px ;
    color: white;
    margin-right: 5px;
    background-color: rgb(15, 9, 20);
    border-radius: 5px;
}
.btn-trial {
    text-align: center;
    font-weight: 200;
    position: relative;
    float: right;
    font-size:20px;
    padding: 20px ;
    color: white;
    margin-right: 5px;
    background-color: rgb(15, 9, 20);
    border-radius: 5px;
}

.forward-content {
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    justify-content: space-between;
    text-align: center;
}

.forward-content > div > img {
    border-radius: 50%;
}
.content-text{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
#middle-speech {
    padding-left: 200px;
    justify-content: space-between;
    margin-top: 3px;
    height: 400px;
    background-color: rgb(241, 255, 232);
}

footer {
    background-color:rgb(15, 9, 20);
    color: white;
	padding: 50px;
}
footer > .navAll {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
} 
.nav-item {
    list-style-type: none;
   justify-items: left;

}
.nav-item:first-child{
    font-weight: 600;
    font-size:18px;
    text-decoration: underline;

}
.brandPart {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
form > input {
    padding: 15px;
    width: 400px;
}
form > button {
    padding: 15px;
    margin-right: 20px;
    text-align: center;
    width: 150px;
    background-color:rgb(214, 252, 0);
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px; 
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

















@media screen and (max-width: 700px) {
    header {
        background-color: rgb(161, 146, 214);
        height: 200px;
        width: 100%;
        font-weight: 600;
        font-size: 50px;
        color: rgb(107, 30, 180);
        border: 20px, rgb(107, 30, 180);
    }
    .navbar {
        list-style-type: none;
        font-weight: 600;
        font-size: 20px;
    }
    .nav-items {
 
        align-items: baseline;
        justify-content: space-evenly;
    }
    .nav-link {
        text-decoration: none ;
        color: rgb(107, 30, 180);
    
}
}


